.contenedor{
	width: 900px;
	margin:auto;
	border:1px solid black;
	
}
header{
	width:100%;
	height:200px; 
	background-color:silver;
}
header h2{
	text-align: center;
}

section h2{
	text-align: center;
}
section{
	 	width:100%;
		height:450px;
		background-color:#F3B642;
	
}
.formulario label{
	 font: oblique bold 120% cursive;
	 line-height: 250%;
	
}


.formulario{
	
	float:left;
	margin-left:30%;


}
.formulario h2{
	margin-top:5px;
	margin-bottom: 22px;
}
.formulario .select0{
	margin-left: 31px;
	width:200px;

}
.formulario .select1{
	margin-left: 10px;
	width:200px;

}
.formulario .select2{
	margin-left: 10px;
	width:117px;

}
.formulario .select3{
	margin-left: 15px;
	width:180px;

}
.formulario .titu{
	height: 27px;
	width: 200px;
	margin-left: 65px;
	
}
 .formulario textarea{
	height: 50px;
	width: 200px;
	margin-left:15px;
	margin-top:7px;
	resize: none;
}


footer{
	width:100%;
	height: 150px;
	
}
li{
	list-style: none;
	
	
}

.caja{
	width:50%;
	margin-bottom:20px;

}