.contenedor{
	width: 900px;
	margin:auto;
	
	
}
header{
	width:100%;
	height:200px; 
	background-color:white;
}

header h2{
	text-align: center;

}
header img{

	height:150px;
	float: left;
	margin-top: 20px;	
	margin-left: 260px;
}
section h2{
	text-align: center;
	
}
section{
	 	width:100%;
		height:450px;
		background-color: #458090;
	
}

nav{
	margin-bottom: 10px;
	
}
nav ul li a{
	font-size: 20px;
	text-decoration: none;
	font-style: none;
	color:orange;
}
.nav-item{
	margin-left: 15px;
	
}


.formulario label{
	 font: oblique bold 120% cursive;
	 line-height: 250%;
	
}
.formulario2 label{
	 font: oblique bold 120% cursive;
	 line-height: 250%;
	
}

.formulario{
	
	float:left;
	margin-left:33%;


}
.formulario h2{
	text-align:center;
	margin-top:10px;
	margin-bottom: 22px;
		
}


.formulario2{
	
	float:left;
	margin-left:32%;
	margin-top: 30px;


}
.contenedor section h2{
	padding-top:20px;
}


.formulario .select0{
	margin-left: 31px;
	width:200px;

}
.formulario .fecha1{
	margin-left: 9px;
	width:200px;
}
.formulario .fecha2{
	margin-left: 15px;
	width:200px;
}
.formulario .select1{
	margin-left: 10px;
	width:200px;

}
.formulario .select2{
	margin-left: 10px;
	width:117px;

}
.formulario .select3{
	margin-left: 15px;
	width:180px;

}
.formulario .titu{
	height: 27px;
	width: 200px;
	margin-left: 65px;
	
}
.formulario2 .titu2{
	height: 27px;
	width: 200px;
	margin-left: 53px;
	
}
 .formulario textarea{
	height: 50px;
	width: 200px;
	margin-left:15px;
	margin-top:7px;
	resize: none;
}

 .formulario2 textarea{
	height: 50px;
	width: 200px;
	margin-left:15px;
	margin-top:7px;
	resize: none;
}
.footer1{
    width: 100%;
    height: 50px;
    border-top: 1px solid orange;
    margin-top:18px;
}
.footer1 .texto p{

    color: gray;
    font-family: sans-serif;
    text-align: center;
    margin-top: 15px;
    font-size: 15px;

}
li{
	list-style: none;
	
	
}

.caja{
	width:50%;
	margin-bottom:20px;

}







