.contenedor{
	width: 900px;
	margin:auto;
	
	
}
header{
	width:100%;
	height:200px; 
	background-color:white;
}
header h2{
	text-align: center;
}
header img{

	height:150px;
	float: left;
	margin-top: 20px;	
	margin-left: 260px;
}

section h2{
	text-align: center;
}
section{
	 	width:100%;
		height:auto;
		background-color: #458090;
	
}

nav{
	margin-bottom: 10px;
	background: 
}
nav ul li a{
	font-size: 20px;
	text-decoration: none;
	font-style: none;
	color:orange;
}
.nav-item{
	margin-left: 15px;
	
}
.formulario label{
	 font: oblique bold 120% cursive;
	 line-height: 250%;
	
}


.formulario{
	
	float:left;
	margin-left:30%;


}

.formulario h2{
	margin-top:5px;
	margin-bottom: 22px;
}
.formulario .select0{
	margin-left: 31px;
	width:200px;

}
.formulario .select1{
	margin-left: 10px;
	width:200px;

}
.formulario .select2{
	margin-left: 10px;
	width:117px;

}
.formulario .select3{
	margin-left: 15px;
	width:180px;

}
.formulario .titu{
	height: 27px;
	width: 200px;
	margin-left: 65px;
	
}
 .formulario textarea{
	height: 50px;
	width: 200px;
	margin-left:15px;
	margin-top:7px;
	resize: none;
}



li{
	list-style: none;
	
	
}
section h2{
	margin-bottom: 25px;
}
.caja h4{
	text-align: center;
	margin-bottom: 10px;
}
.caja{
	width:50%;
	
	margin-bottom:20px;
	
	margin-left: 200px;

}
.icons img{
	height: 30px;
	margin-left:5px;
	
}
.icons{
		margin-left:380px;
}
.caja li{
	text-align: center;
}
.caja h4{
	padding-top:30px;
	color: #DC8C3C;
}
.footer1{
    width: 100%;
    height: 50px;
    border-top: 1px solid orange;
    margin-top:18px;
}
.footer1 .texto p{

    color: gray;
    font-family: sans-serif;
    text-align: center;
    margin-top: 15px;
    font-size: 15px;

}